@(message: String, categories: List[Categories])

@main("หมวดหมู่") {
	
    <!--
    <div class="row-fluid">    
    	<div class="span12">
            @for( (category, i) <- categories.zipWithIndex){
            	<div class="row span6">	
                	<h4>@{category.title} - @{i} - @{categories.length}</h4>
                	<p>@{category.description}.</p>
                </div>         
            }
        </div>
	</div>
    -->
    
    <div class="row-fluid">
        <div class="span6">
        	@for( (category, i) <- categories.zipWithIndex){
            	@if( i % 2 == 0 ){
                    <h4>@{category.title}</h4>
                    <p>@{category.description}</p>
                }
            }
        </div>

        <div class="span6">
        	@for( (category, i) <- categories.zipWithIndex){
        		@if( i % 2 == 1 ){
                    <h4>@{category.title}</h4>
                    <p>@{category.description}</p>
                }
            }
        </div>
	</div>
}